* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.game {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game .box {
    width: 80px;
    height: 80px;
    display: grid;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    place-items: center;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.game .box:active {
    background-color: #ccc;
}